.fa {
  padding: 5px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-whatsapp {
  background: #25d366;
  color: white;
}

.fa-instagram {
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
  color: white;
  border-radius: 50%;
}
